.additions__header {
  font-family: $ff-oswald;
  line-height: 1;
  color: $c-black;
  font-weight: 400;
}

.additions__link {
  background-color: $c-light-green;
  line-height: (20 / 16);
  font-weight: 400;
  color: $c-white;
  text-decoration: none;
}
