.articles {
  display: flex;
  flex-direction: column;
  margin-top: 19px;
  margin-bottom: 0px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 14px;
  }
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    margin-top: 83px;
    flex-direction: row;
    padding-left: 110px;
    padding-right: 110px;
    justify-content: space-between;
    column-gap: 82px;
  }
}


.articles__i {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 21px 21px 21px 20px;
  background-color: #f2f2f2;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0fr 1fr 0fr;
    padding: 77px 61px 56px 52px;
    margin-bottom: 30px;

  }

  @media (min-width: $desktop-width) {
    padding: 31px 61px 56px 52px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 570px;
  }
}
.articles__i--pro {

}
.articles__header {
  margin: 0;
  margin-left: 22px;
  padding-top: 7px;
  width: max-content;
  font-family: $ff-oswald;
  font-size: 24px;
  color: $c-black;
  font-weight: 400;
  line-height: (37 / 24);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 1;
  }
  @media (min-width: $desktop-width) {
    width: 50%;
    margin-top: 46px;
    margin-left: 63px;
  }
}
.articles__header--pro {
  margin-left: 20px;
  padding-top: 6px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 47px;
    margin-left: 61px;
  }
}


.articles__icon {
  width: 50px;
  height: 50px;
  position: relative;
  text-align: center;
  border-radius: 50%;
  background-color: $c-light-green;
  //width: 21%;
  //margin-top: 22px;
  //padding-left: 3px;


  @media (min-width: $tablet-width) {
    margin-top: 15px;
    order: 1;
    grid-column: 2;
    grid-row: 1/-1;
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    order: inherit;
    width: 100px;
    height: 100px;
  }
}
.articles__icon--pro {


}

.articles__image {
    position: absolute;
    top: 0px;
    left: 9px;

  @media (min-width: $tablet-width) {
    width: 140px;
    height: 190px;
    top: -10px;
    left: 29px;
  }

  @media (min-width: $desktop-width) {
    width: 70px;
    height: 97px;
    top: -5px;
    left: 16px;
  }
}
.articles__image--jaguar {
  width: 67px;
  height: 28px;
  position: absolute;
  top: 10px;
  left: -8px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 112px;
    top: 44px;
    left: -36px;
  }
  @media (min-width: $desktop-width) {
    width: 214px;
    height: 55px;
    top: 20px;
    left: -61px;
  }
}

.articles__text {
  margin: 0;
  margin-top: 23px;
  //margin-bottom: 25px;
  padding-bottom: 23px;
  font-size: 14px;
  line-height: 1.300;
  border-bottom: 1px solid $c-light-grey-border;

  @media (min-width: $tablet-width) {
    border: none;
    margin-top: 25px;
    font-size: 16px;
    line-height: (24 / 16);
    padding-bottom: 0;
  }
  @media (min-width: $desktop-width) {
    margin-top: 42px;
    border: none;
    width: 100%;
    padding-bottom: 0;
  }
}
.articles-text--pro {
  margin-top: 24px;
  margin-right: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    margin-right: 53px;
}
@media (min-width: $desktop-width) {
  margin-top: 41px;
}
}
.articles__link {
  position: relative;

  margin-top: 21px;

  font-family: $ff-oswald;
  font-size: 16px;
  line-height: 1;
  color: $c-black;
  text-transform: uppercase;
  text-decoration: none;

  &::after {
    position: absolute;
    top: -4px;
    left: 100px;
    content: url("../img/arrow-right.svg");
    width: 32px;
    height: 10px;
  }

  @media (min-width:$tablet-width) {
    position: relative;
    margin: 0;
    margin-top: 52px;
    font-size: 20px;
    line-height: (30 / 20);
    &::after {
      position: absolute;
      top: -4px;
      left: 134px;
      content: url("../img/arrow-right.svg");
      width: 32px;
      height: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 26px;
  }
}
