.button {
  display: block;
  background-color: $c-light-green;
  font-family: $ff-oswald;
  font-size: 400;
  line-height: (20 / 16);
  color: $c-white;
  text-transform: uppercase;
  text-decoration: none;
}
