.catalog-table {
  width: 70%;
}

.catalog-table__header {
  font-family: $ff-oswald;
  font-size: 16px;
  font-weight: 400;
  line-height: (20 / 16);
  color: $c-dark-grey-2;
  text-transform: uppercase;
}

.catalog-table__item {
  font-family: $ff-arial;
  font-size: 12px;
  font-weight: 400;
  line-height: (16 / 12);
  color: $c-dark-grey;
}
