.example-info {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width:$tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
}
}
.example-info__description {
  margin: 0;
  margin-top: 37px;
  line-height: (18 / 14);
  width: 100%;

  @media (min-width:$tablet-width) {
    font-size: 16px;
    line-height: (24 / 16);
    color: $c-dark-grey;
    margin-top: 65px;
    padding-right: 10px;
  }
  @media (min-width:$desktop-width) {
    margin-top: 147px;
    padding-right: 150px;
  }
}

.example-info__promo-text {
  width: 121px;
  margin-top: 26px;
  margin-bottom: 27px;
  padding-top:10px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 24px;
  font-family: $ff-oswald;
  color: $c-black;
  line-height: 1;
  border: 2px solid $c-gredy-border-reverse;

  @media (min-width: $tablet-width) {
    width: 162px;
    border: 2px solid $c-gredy-border-reverse;
    box-sizing: border-box;
    padding-top: 15px;
    margin-top: 53px;

    font-size: 30px;
    line-height: (37 / 30);
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}
.example-info__promo-text--kilos {
  @media (min-width: $tablet-width) {
    margin-right: 41px;
  }
}
.example-info__promo-text--days {

  @media (min-width: $tablet-width) {
    //margin: 0;
    //padding: 0;

  }
}
.example-info__promo-description {
  max-width: 70px;
  background-color: $c-grey-background-example;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: -40px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px;
  text-align: center;
  font-size: 12px;
  font-family: $ff-arial;
  color: $c-dark-grey;
  line-height: 1;

  @media (min-width: $tablet-width) {
    white-space: nowrap;
    background-color: $c-white;
    max-width: 140px;
    margin-top: -3px;
    margin-bottom: -13px;
    padding: 0;
    padding-top: 14px;
    font-size: 14px;
    line-height: 1;
  }
}

.example-info__price-text {
  margin: 0 auto;
  margin-top: 5px;
  justify-content: center;
  font-family: $ff-oswald;
  color: $c-black;
  line-height: (20 / 14);
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: 26px;
    margin-left: 167px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    line-height: 1;
  }
  @media (min-width: $desktop-width) {
    height: fit-content;
    flex-direction: row;
    margin-top: 0px;
    margin-left: 0px;
  }
}
.example-info__text {
  @media (min-width: $tablet-width) {
    margin-bottom: 8px;
  }
  @media (min-width: $desktop-width) {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 63px;
}
}
.example-info__promo-text--kilos-text {


  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 0;
  }
}
.example-info__promo-text--days-text {


  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 0;
  }
}
