.example-slider {
  padding-top: 34px;
  padding-bottom: 38px;

  display: flex;
  flex-direction: column;
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 55px;
  }
  @media (min-width: $desktop-width) {
    padding-top: 0;
    margin-top: -130px;
    margin-left: -16px;
}
}
.example-slider__image-container {
  width: 311px;
  height: 232px;
  position: relative;
}
.example-slider__cat-left {
  position: absolute;
}
.example-slider__cat-right {
  position: absolute;
}
.example-slider__image {
  margin: 0 auto;
  width: 311px;
  height: 232px;

 @media (min-width: $tablet-width) {
  width: 670px;

  height: 533px;
 }
  &:nth-child(2) {
    display: none;
    @media (min-width: $tablet-width) {
      display: block;
    }
  }

}
