.example {
  margin-top: 0;
  padding: 28px 20px 0 20px;
  display: flex;
  flex-direction: column;
  background-color: $c-grey-background;

  @media (min-width: $tablet-width) {
    background: linear-gradient($c-white 60%,$c-grey-background-example 40%);
    border-top: 1px solid #E6E6E6;
    padding-top: 42px;
    padding-left: 31px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 36px;
  }
  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.example__header {
  font-family: $ff-oswald;
  font-size: 36px;
  margin: 0;
  color: $c-black;
  line-height: (40 /36);
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
  }
  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.example__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}
