.main-promo {
  padding-top: 27px;
  display: flex;
  flex-direction: column;
  background-image: url("../img/main-promo/background-mobile.jpg");
  background-size: 320px 302px;
  background-position: center top;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {

    background-image: none;
    background-color: $c-white;
    padding-top: 47px;
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to left,rgba(104, 183, 56, 0.85) 50%, $c-white 50%);
    //background-image: url("../img/header/green-cat-bg.png");
    //background-repeat: no-repeat;
    //background-position: 100px 100px;
    padding-left: 191px;
  }
}

.main-promo__header {
  order: 1;
  font-size: 36px;
  font-family: $ff-oswald;
  margin: 0;
  padding-bottom: 24px;
  text-align: center;
  color: $c-white;
  font-weight: 400;
  line-height: 1;

  @media (min-width: $tablet-width) {
    color: $c-black;
    font-size: 60px;
    text-align: left;
    padding-right: 150px;
    padding-bottom: 42px;
    padding-left: 89px;
  }

  @media (min-width:$desktop-width) {
    padding-left: 0;
    padding-top: 50px;
    padding-right: 666px;
    padding-bottom: 42px;
  }
}

.main-promo__text {
  order: 2;
  font-size: 14px;
  font-family: $ff-oswald;
  margin: 0;
  padding-bottom: 32px;
  text-align: center;
  color: $c-white;
  line-height: 1;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    color: $c-black;
    font-size: 20px;
    line-height: 1;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 48px;
    padding-left: 89px;
  }
  @media (min-width:$desktop-width) {
    padding-left: 0;
  }
}

.main-promo__image {
  width: 280px;
  margin: 0 auto;
  order: 3;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-top: -84px;
    width: 709px;
    height: 609px;
  }
@media (min-width: $desktop-width) {
     margin-left: 366px;
    margin-top: -367px;
    height: 551px;
}
}

.main-promo__promo-link {
  order: 10;
  display: block;
  margin-left:20px;
  margin-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: $c-light-green;
  font-family: $ff-oswald;
  color: $c-white;
  text-decoration: none;
  font-size: 14px;
  line-height: (18 / 14);
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1px;
    //padding: 14px 26px 14px 26px;
    margin-left: 84px;
    padding: 28px 26px 26px 26px;
    width: max-content;
    order: 2;
    z-index: 2;
  }
  @media (min-width:$desktop-width) {
    margin-left: 0;
  }
}
