.map {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  display: flex;
  height: 462px;

  @media (min-width: $tablet-width) {
    height: 592px;
    margin: 0 auto;
  }
  @media (min-width: $desktop-width) {
    margin-top: 0;
    height: 400px;
  }
}

.map__frame {
  position: absolute;
  top: 0;
  width: 100%;
  height: 480px;
  border: none;

  @media(min-width: $tablet-width) {
    height: 592px;
  }
  @media (min-width: $desktop-width) {
    height: 400px;
  }
}

.map__welcome-text {
  margin: 0;
  width: 50%;
  font-family: $ff-oswald;
  font-size: 16px;
  color: $c-special-black;
  line-height: 1.37;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.20;
    width: 60%;
  }
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.map__contacts {
  box-sizing: border-box;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 25px;
  display: flex;
  background-color: $c-white;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
    padding-left: 71px;
    padding-right: 72px;
    padding-bottom: 49px;
  }
  @media (min-width: $desktop-width) {
    width: max-content;
    padding: 66px 76px 40px 76px;
    margin-top: 95px;
    margin-left: 110px;
  }
}
.map__text-span {

  &:nth-child(2) {
    @media (min-width: $tablet-width) {
      padding-bottom: 19px;
    }
  }
}
.map__contacts-address {
  margin: 0;
  padding-left: 0px;

  line-height: 1.5;
  width: 50%;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 40%;
    font-size: 16px;
    line-height: (20 / 16);
  }
  @media (min-width: $desktop-width) {
    align-items: flex-start;
    margin-left: 111px;
    width: 50%;
  }
}

.map__pointer {
  position: absolute;
  top: 250px;
  left: 134px;
  z-index: 1;
  width: 55px;
  height: 55px;
  //background-size: 55px 55px;
  background-image: url("../img/map/mobile-pointer.svg");
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image: url("../img/map/tablet-pointer.svg");
    top: 345px;
    left: 333px;
    width: 113px;
    height: 106px;
  }
  @media(min-width: $desktop-width) {
    top: 130px;
    left: 910px;
  }
}

.map__wrapper {
  margin: 0;
  width: 100%;
  position: relative;
  pointer-events: none;
  height: inherit;

}
