.page-footer {
  display: flex;
  flex-direction: column;
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 56px;
    padding-left: 9px;
    padding-right: 11px;
    padding-bottom: 44px;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin: 0;
    //padding-top: 16px;
  }
}

.page-footer__social-block {
  justify-content: center;
  padding: 0;
  padding-top: 24px;
  padding-bottom: 14px;
  column-gap: 11%;
  list-style: none;
  display: flex;
  border-top: 1px solid $c-light-grey-border;
  border-bottom: 1px solid $c-light-grey-border;
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    border: none;
    margin-top: 0;
    padding-top: 0;
    column-gap: 0;
    align-items: center;
    column-gap: 27px;
  }
}

.page-footer__socio-icon--vk {
  @media (min-width: $tablet-width) {
    width: 29px;
    height: 17px;
  }
}
.page-footer__socio-icon--insta {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}
.page-footer__socio-icon--facebook {
  @media (min-width: $tablet-width) {
    width: 17px;
    height: 26px;
  }
}
.page-footer__logo-text {

  @media(min-width: $tablet-width) {
    margin: 0;
    margin-top: 3px;
    margin-right: 23px;
    font-family: $ff-arial;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
  }
}
