.page-footer {
  display: flex;
  flex-direction: column;
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding-top: 56px;
    padding-left: 9px;
    padding-right: 11px;
    padding-bottom: 61px;
  }
}

.page-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin: 0;
    //padding-top: 16px;
  }
}

.page-footer__social-block {
  justify-content: center;
  column-gap: 67%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  display: flex;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    padding-top: 0;
    column-gap: 0;
    align-items: center;
    column-gap: 27px;
  }
}

.page-footer__socio-icon--vk {
  @media (min-width: $tablet-width) {
    width: 29px;
    height: 17px;
  }
}
.page-footer__socio-icon--insta {
  @media (min-width: $tablet-width) {
    width: 23px;
    height: 23px;
  }
}
.page-footer__socio-icon--facebook {
  @media (min-width: $tablet-width) {
    width: 17px;
    height: 26px;
  }
}
