.page {
  font-family: $ff-arial;
}

.page__header {
  margin: 0 auto;
}

.page__body {
  margin: 0 auto;
  font-family: $ff-arial;
  font-size: 14px;
  color: $c-dark-grey;
  font-weight: 400;
  line-height: (18 / 14);
}

.page__title {
  font-family: $ff-oswald;
  font-weight: 400;
  font-size: 36px;
  color: $c-black;
  line-height: 1;
}
