.page-header {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    background: linear-gradient(to left,rgba(104, 183, 56, 0.85) 50%, $c-white 50%);
  }
}

.page-header__logo {
  width: 85%;
  padding-left: 20px;
}
.page-header__logo-image {

  @media (min-width:$tablet-width) {
  width: 60px;
  height: 50px;
  }
}
.page-header__logo-block {
  display: flex;
  width: 100%;
  padding-top: 11px;
  padding-bottom: 11px;

  @media (min-width: $tablet-width) {
    width: min-content;
    padding-top: 26px;
    padding-left: 30px;
  }

  @media (min-width: $desktop-width) {
    //width: 50%;
    padding-left: 110px;
    padding-top: 53px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url("img/bg-header@2x.jpg");
    background-size: 1338px auto;
  }
}
