.work-item {
  margin-bottom: 20px;
  min-height: 60px;
  background-repeat: no-repeat;

  &:nth-child(1) {
    background-image: url("../img/how-it-work/leaf.svg");
  }

  &:nth-child(2) {
    background-image: url("../img/how-it-work/tub.svg");
  }

  &:nth-child(3) {
    background-image: url("../img/how-it-work/eat.svg");
  }

  &:nth-child(4) {
    background-image: url("../img/how-it-work/alarm.svg");
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 25%;
  }
}

.work-item__text {
  margin: 0;
  padding-left: 80px;
  line-height: (18 / 14);
}
