.wrapper {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapper--nav {
 margin: 0;
}

.wrapper--main {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
}
.wrapper--map {
  padding-left: 0;
  padding-right: 0;
}
.wrapper--header {
  padding-left: 0;
  padding-right: 0;
}
.wrapper--example {
  padding-left: 0;
  padding-right: 0;
}
