$ff-arial: "Arial", sans-serif;
$ff-oswald: "Oswald", sans-serif;
$c-black: black;
$c-white: white;
$c-dark-grey: #444444;
$c-dark-grey-2: #222222;
$c-light-green: #68b738;
$c-special-black: #111111;
$c-basic-grey: #f2f2f2;
$c-grey-background: #e5e5e5;
$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
